.OpinionArticles {
    padding: 20px 0;
}

.OpinionArticles > .head {
    display: flex;
    align-items: center;
}
.OpinionArticles > .head > .sep {
    width: 42%;
    height: 4px;
}

.OpinionArticles > .head > h3 {
    text-align: center;
    margin: 0;
}