.FullArticle > .img {
    width: 100%;
    height: 400px;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 4px;
}

.title{
    /* font-family: ''; */
    font-size: 18px;
    margin: 0;
}

.FullArticle > article{
    margin: 20px 0;
}

.FullArticle >article > p {
    font-family: 'Scheherazade';
    font-size: 26px;
    line-height: 1.4;
    margin: 8px 0;
    text-align: justify;
}

.ArticleInformations{
    box-shadow: 0px 0px 10px rgb(0,0,0, 0.2);
    border-radius: 4px;
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ArticleInformations > h3 {
    text-align: center;
    margin: 0;
    position: relative;
}


.ArticleInformations > h4 {
    margin: 10px 0 4px 0;
    position: relative;
}

.ArticleInformations > p {
    font: 26px 'Scheherazade';
    margin: 0;
}


.ArticleInformations > .sep {
    width: 50px;
    height: 4px;
    background: grey;
    display: block;
}

.ArticleInformations > h4:after , .ArticleInformations > h3:after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background: red;
    border-radius: 50%;
    bottom: 10px;
    left: -6px;
}


.full-article-enter {
  opacity: 0;
}
.full-article-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.full-article-exit {
  opacity: 1;
}
.full-article-exit-active {
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}