.menu {
  display: flex;
  justify-content: flex-end;
}

.menu > ul {
  display: flex;
  justify-content: flex-start;
}

.menu > ul > li {
  padding: 10px 10px;
}

.menu > ul > li:hover {
  color: inherit;
}
