.Comments {
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
    border-radius: 4px;
    padding: 10px;
}

.Comments > h3 {
    margin: 0;
}
.Comments > .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
