.Comments {
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
    border-radius: 4px;
    padding: 10px;
}

.Comments > h3 {
    margin: 0;
}
.Comments > .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.AddComment {
    display: flex;
    padding: 20px 0;
}

.commentIcon {
    min-width: 80px;
    height: 80px;
    border-radius: 50px;
    background: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.commentInput {
    width: 100%;
    display: relative;
    margin-right: 20px;
}

.commentInput > .textarea{
    min-height: 80px;
    width: 100%;
    border-radius: 30px 30px 0 30px;
    background: rgb(230, 230, 230);
    padding: 10px 30px;
    position: relative;
    border: none;
    resize: none;
}

.textarea> textarea {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font: 15px "Cairo Light";
    resize: none;
}

.commentInput > .textarea:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -40px;
  height: 40px;
  width: 40px;
  background: rgb(230, 230, 230);
  background-attachment: fixed;
  z-index: -999999;
}



.commentInput > .textarea:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -40px;
  height: 40px;
  width: 40px;
  background:  white;
  background-attachment: fixed;
  border-radius: 0 0 0 20px;
  z-index: -99999;
}

input:focus, textarea:focus {
    outline: none;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}