.info {
  font-size: 13px;
  color: rgb(175, 175, 175);
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.info > .icon {
  margin-left: 5px;
}

.info > .item {
  margin-left: 10px;
}

.Emoji {
  margin-left: 8px;
}
