
.style-buttons {
    height: 50px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.style-buttons > button {
    margin: 0 20px; 
}

.style-buttons > button > span {
    font-size:18px;
}

.vertical-sep{
    height: 30px;
    width: 2px;
    background:rgb(240, 240, 240);
}