
.style-buttons {
    height: 50px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.style-buttons > * {
    margin: 0 16px;
}

.style-buttons > button {
    font-size: 20px;
    color: #b4b4b4;
    transition: color 200ms ease-out;
}

.style-buttons > button:hover{
    color: #757575;
    transition: color 200ms ease-in;
}

.vertical-sep{
    height: 30px;
    width: 2px;
    background:rgb(240, 240, 240);
}