.logo {
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container a, .menu{
  display: flex;
  align-items: center;
}

.Header {
  min-height: 100px;
  background: white;
  box-shadow: #00000029 0px 2px 10px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
};
