.SocialNetwork {
    border-radius: 4px;
    border: 2px solid grey;
    display: flex;
    align-content: space-between;
    height: 120px;
    margin-top: 14px;
    padding: 5px;
}

.SocialNetwork > h4 {
    font-size: 17px;
    margin: 0;
}

.SocialNetwork > * {
    width: 33%;
}

.icon {
    align-self: center;
    display: flex;
    justify-content: center;
}

.icon > img{
    height: 50px;
    width: 50px;
}

.nbfollowers {
    align-self: flex-end;
    font-size: 15px;
}